#blue {
    color: #1c87c9;
}

body {
    background-image: url('bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    border: 2px solid black;
    margin: 20px;
    padding: 20px:

}

h1 {
    background-color: purple;
}


p {
    color: white;
}

ul { /* list */
    color: white
}

h1 {
    color: green;
}

h2 {
    text-shadow: white 2px 5px;
    background-color: lightblue;
    width: 150px;
}

.Linux {
    width: 150px;
}

.Intro {
    width: 150px;
}

.Links {
    width: 150px;
}

.new {
    background: green;
    width: 300px;
}

.title {
    text-shadow: green;
    width: 3px;
}

.Windows {
    width: 150px;
}

.Python {
    width: 150px;
}

.Login_into {
    margin-left: 60px;
    border: 50px solid #009900;
    width: 300px;
    height: 100px;
    padding: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cat {
    height: 200px;
    width: 200px;
}
